beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
idna==3.10
packaging==24.2
requests==2.32.3
soupsieve==2.6
toml==0.10.2
typing_extensions==4.13.1
urllib3==2.3.0
